<div id="title">
  <h1>Jhed</h1>
  <h2>Web Development</h2>
</div>

<article class="about">
  <h2>About me</h2>
  <p> Aenean varius auctor augue ut pulvinar. Nulla suscipit vel urna sed cursus. Praesent a egestas arcu, vitae tincidunt eros. Vestibulum ullamcorper diam dolor, a pharetra tellus gravida a. Morbi hendrerit augue vel orci tincidunt, vitae consectetur ligula molestie. Phasellus vel porta nulla. In eu luctus diam, sollicitudin tempor dui. Etiam quam ligula, eleifend id augue ut, mattis porta neque. Aliquam orci orci, pellentesque quis pharetra lacinia, egestas non leo. Aenean lectus est, hendrerit vel ullamcorper at, tincidunt vel ligula. Mauris sodales tempor orci, eu elementum erat sagittis sit amet. Curabitur ultrices id turpis at ornare. Morbi ullamcorper ipsum vel pellentesque ornare. Duis facilisis, est sit amet aliquet vehicula, orci ante sollicitudin lacus, sit amet dignissim nulla tellus sit amet nulla. Phasellus felis velit, pulvinar non sem sit amet, condimentum pulvinar nunc.</p>
</article>
