
<div class="contain">
  <h2>{{title}}</h2>
  <div class="message success" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente. Puedes verlo <a href="#">aquí</a>
  </div>

  <div class="message failed" *ngIf="status == 'failed'">
    El proyecto no se ha podido crear.
  </div>
  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
      <span *ngIf="name.touched && !name.valid">El campo es obligatorio.</span>
    </p>

    <p>
      <label for="description">Descripcion</label>
    <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
    <span *ngIf="description.touched && !description.valid">El campo es obligatorio.</span>
    </p>

    <p>
      <label for="category">Categoria</label>
      <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
      <span *ngIf="category.touched && !category.valid">El campo es obligatorio.</span>
    </p>

    <p>
      <label for="year">Año</label>
      <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required>
    </p>

    <p>
      <label for="langs">Lenguajes</label>
      <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
      <span *ngIf="langs.touched && !langs.valid">El campo es obligatorio.</span>
    </p>

    <p>
      <label for="image">Imagen del proyecto</label>
      <input type="file" name="image" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
    </p>

    <p>
      <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
      </p>

  </form>

</div>
