/* Importar Fuentes */

@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}

@font-face{
	font-family: "titilium";
	src: url("fonts/titilium.ttf");
}

@font-face{
	font-family: "Alegreya SC";
	src: url("fonts/alegreya.ttf");
}

/* Generales */

*{
	margin: 0px auto;
	padding: 0px auto;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: #C7CFD9;
}

.clearfix{
	float: none;
	clear: both;
}

/* Header */

header{
	display: block;
	width: 100%;
	height: 90px;
	background: #1B1F26;
	position: fixed; /*Barra de navegacion siempre arriba*/
	text-transform: uppercase;
}

header ul{
	display: block;
	width: 26%;
	height: inherit;
	margin: 0px auto;
	padding: 0px;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 90px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: white;
	transition: all 300ms;
}

header a:hover,
.actived{
	background: #747C8C;
}

/* Logo */

#logo{
	font-family: 'Alegreya SC';
	font-size: 40px;
	font-weight: bold;
	margin-top: -7px;
}

#logo a{
	transition: all 500ms;
}

#logo a:hover{
	background: transparent;
	transform: scale(1.50);
}

/* Content */

#content{
	min-height: 720px;
	height: auto;
	width: 80%;
	margin: 0px auto;
	box-shadow: 0px 0px 5px black;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	background: #F5F5F7;
	padding-top: 120px;
}

/* Footer */

footer{
	width: 80%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}

/* About me */

#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 50px;
}

#title h1{
	color: #1B1F26;
	font-family: 'Alegreya SC';
	font-size: 60px;
	border-bottom: 1px solid #747C8C;
	padding-bottom: 5px;
}

#title h2{
	font-family: 'Alegreya SC';
	font-size: 30px;
	color: #747C8C;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin: 0px auto;
	font-size: 23px;
	margin-bottom: 20px;
}

.about h2{
	color: #1B1F26;
	border-bottom: 1px solid #747C8C;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about p{
	color: #1B1F26;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}

/* Formulario */

.contain{
	padding: 50px;
	padding-top: 10px;
}

.contain h2{
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	float: left;
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 50%;
	padding: 5px;
}

form textarea{
	height: 80px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 15px;
	padding: 8px;
	margin-top: 15px;
	float: left;
	color: #ccc;
	background: #1B1F26;
	border-radius: 1px 1px 1px 1px;
-moz-border-radius: 1px 1px 1px 1px;
-webkit-border-radius: 1px 1px 1px 1px;
border: 0px solid #000000;
	cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover{
	display: block;
	font-size: 15px;
	padding: 8px;
	margin-top: 15px;
	float: left;
	color: #ccc;
	background: #747C8C;
	border-radius: 1px 1px 1px 1px;
-moz-border-radius: 1px 1px 1px 1px;
-webkit-border-radius: 1px 1px 1px 1px;
border: 0px solid #000000;
	cursor: pointer;
}

form input[disabled],
form input[disabled]:hover{
	background: #ccc;
	color: white;
	cursor: not-allowed;
}

form span{
	padding: 5px;
	font-size: 15px;
	margin-left: 5px;
}

.message{
	width: 40%;
	padding: 5px;
	border: 1px solid #eee;
	float: left;
}

.success{
	background: green;
	color: white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}

/* Projectos */

.project{
	list-style: none;
	display: block;
	float: left;
	width: 30%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.project .image{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.project img {
	width: 100%;
}

.lista_proyectos{
	margin-top: 30px;
}

.project a{
	text-decoration: none;
	color: black;
}

.contain .image_d{
	float:left;
	width: 45%;
}

.contain .image_d img{
	width: 100%;
}

.contain .data{
	float: right;
	width: 45%;
	margin-left: 20px;
}

.button-edit,
.button-delete{
	font-size: 20px;
	margin-right: 10px;
	width: 30%;
	text-decoration: none;
}
