<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li id="logo"><a [routerLink]="['/home']">Jhed</a></li>
    <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
Jhed&copy; Web Development - 2020
</footer>
